.container {
  width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  box-sizing: border-box;
}

.card {
  background-color: #f9f9f9; /* soft elegant background */
  padding: 0px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 550px;
  margin: 1rem auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0px;
  font-size: 14px;
  color: #4a4a4a;
  background-color: #f4f4f9;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  font-family: 'Lato', sans-serif;
}
