.card-header {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.form-body {
  display: grid;
  grid-template-columns: auto 80px;
  align-content: center;
  gap: 12px;
}

.card input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card .submit-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.card .error-message {
  margin-top: 10px;
  height: 15px;
  color: red;
  font-size: 14px;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

input[type='text'] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button.danger {
  background-color: #dc3545;
}

button.cancel {
  background-color: #6c757d;
}

button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

.scrollable-list {
  max-height: 420px;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin-top: 1rem;
  gap: 0.5rem;
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: black;
}

.pagination button[disabled] {
  cursor: not-allowed;
  color: grey;
  border-color: #eee;
}

.bookmark-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
